{% extends 'base.html' %}
{% block content %}
<a href ="{% url 'accounts:profile' slug=question.author.slug %}">{{ question.author }}</a>
{{ question.name }}
{% if user.is_authenticated and question.author == user %}
<a href="{% url 'questions:update_question' slug=question.slug %}" class="btn btn-small btn-warning">Edit Post</a>
<a href="{% url 'questions:delete_question' slug=question.slug %}" class="btn btn-small btn-danger">Delete Post</a>
{% endif %}
{% if user.is_authenticated %}

<div class = 'answer_form'>
	<form method='POST'>
		{% csrf_token %}
		{{ form.as_p}}
	<input type="Submit" class="btn btn-success" value="Add Answer">
	</form>
</div> 
{% else %}
<h3>Please sign in to add an answer</h3>
{% endif %}

{% for answer in question.answers.all %} <!-- This is from the related name 'comments' that we get from the post models.py. We use the related name comments -->
	{{answer.body}}
	<br/>
	{% if user.is_authenticated and answer.author == user %}
	<a href ="{% url 'questions:remove_answer' pk=answer.pk %}" class="btn btn-small btn-danger">Delete</a>

	{% endif %}
{% endfor %}	
{% endblock %}