{% extends 'base.html' %}
{% block content %}
<a href ="{% url 'accounts:profile' slug=question.author.slug %}">{{ question.author }}</a>
{{ question.name }}
{% if user.is_authenticated and question.author == user %}
<a href="{% url 'questions:update_question' slug=question.slug %}" class="btn btn-small btn-warning">Edit Post</a>
<a href="{% url 'questions:delete_question' slug=question.slug %}" class="btn btn-small btn-danger">Delete Post</a>
{% endif %}
{% if user.is_authenticated and question.solved == False %}
<div class = 'answer_form'>
	<form method='POST'>
		{% csrf_token %}
		{{ form.as_p}}
	<input type="Submit" class="btn btn-success" value="Add Answer">
	</form>
</div> 
{% endif %}


{% if user.is_authenticated and question.author == user and question.solved == False %}
	<a class="btn btn-primary" href="{% url 'questions:question_solved' slug=question.slug %}">Solved</a>
{% endif %}

{% if question.solved %}
	<h5>Question has been solved </h5>
{% else %}
		<h5>Not been slved yet</h5>
{% endif %}	
<h2>Answers to this question</h2>

{% for answer in question.answers.all %} 
	{{answer.body}} 

<a href="{% url 'questions:ans_single' pk=answer.pk %}">​<i class="fa fa-thumbs-o-up" style="font-size:36px"></i></a>	
<p>Likes: {{answer.likes}}</p>
	


	
	
{% endfor %}
{% endblock %}