{% extends 'base.html' %}
{% block content %}
{{user.username}} 's profile
{{user.first_name }} {{user.last_name}}
{{ user.bio }}

{% if user.image %}
<img src = "{{user.image.url}}" class = "img-fluid" height=150 width=150 alt='No Image Uploaded'>
					{% else %}
								<p>No file uploaded</p>
			{% endif %}
{{user.location}}



<h2>Questions</h2>
{% for question in user_question %}

	{{question.name}}
	{{question.author}}
	{{question.body}}
	
	
{% endfor %}
<h2>Answers</h2>
{% for answer in user_answer %}

	{{answer.body}}
	
{% endfor %}
{% endblock %}